<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jayda's Portfolio</title>
    <!-- Link to CSS file (relative path for previews) -->
    <link rel="stylesheet" href="./styles.css">
</head>
<body class="animated-gradient-background">

    <div class="box">
        Welcome!
    </div>

    
    <div class="button-menu">
        <button type="button">Projects</button>
    </div>

    <h1>Hello!</h1>
    <p>This is a paragraph.</p>

    <script src="./script.js"></script>

</body>
</html>